*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff: 'Josefin Sans', sans-serif;
  --grad-f: linear-gradient(135deg, #ffffff, #fff5f5);
  --grad-s: linear-gradient(135deg, #f8bfbf, #ee8c8c);

  --clr-bg-btn: #ee8c8c;
  --clr-bg-btn-hover: #f8bfbf;

  --clr-pr-red: #ce9797;
  --clr-pr-red-shadow: #ce9797cc;
  --clr-pr-soft-red: #f96262;
  --clr-sc-dark-red: #413a3a;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--ff);
  font-size: 16px;
  color: var(--clr-pr-red);
  background: var(--grad-f);
}

button,
input {
  font: inherit;
}

.container {
}

.logo {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.logo__img {
  height: 1.5rem;
}

.illustration {
  min-height: 250px;
  background-image: url('./images/hero-mobile.jpg');
}

/* Content */
.content {
  padding: 4rem 2rem;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--clr-sc-dark-red);
}
.title > span {
  font-weight: 300;
  color: var(--clr-pr-red);
}

.description {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  line-height: 150%;
}

/* Form */
.subscription-form {
  position: relative;
}
.form-element {
  width: 100%;
}
.email-field {
  width: 100%;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  color: var(--clr-sc-dark-red);
  border: 1px solid var(--clr-pr-red);
  background: var(--grad-f);
  outline: 0;
}
.email-field::placeholder {
  color: var(--clr-pr-red);
}

.error {
  display: none;
  text-align: left;
  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
  color: var(--clr-pr-soft-red);
}
.error-icon {
  display: none;
  position: absolute;
  right: 4.5rem;
  top: calc(50% - 0.6rem);
}
.error-icon > img {
  height: 1.2rem;
}
.button {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  font-size: 0.9rem;
  border-radius: 1.5rem;
  padding: 0.9rem 1.6rem;
  color: var(--ff);
  background-color: var(--clr-bg-btn);
  border: 0;
  box-shadow: var(--clr-pr-red-shadow) 0px 15px 25px -7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--clr-bg-btn-hover);
  box-shadow: var(--clr-pr-red) 0px 15px 20px -7px;
}
